body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
}

.header,
.introduction-container {
    background-color: #1F2937;;
}

.information-container {
    text-align: center;
}

.info-image-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 4px solid #3882F6;
}

.info-text {
    width: 150px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    align-items: center;
  }
  
a {
    text-decoration: none;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 24px;
}