body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 1200px;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
}

.header,
.introduction-container {
    background-color: #1F2937;;
}

.introduction-container .image {
    width: 400px;
}

.introduction-container {
    display: flex;
    padding: 100px;
    gap: 50px;
}

.introduction-text {
    width: 50%;
    color: #E5E7EB;
    font-size: 18px;
}

.information-container {
    text-align: center;
    margin: 100px;
}

.info-image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.info img {
    object-fit: cover;
    height: 150px;
    border-radius: 10%;
    border: 4px solid #3882F6;
}

img,
.info-text {
    width: 150px;
}


.quote-container {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 50px;
}

.quoted-from {
    text-align: right;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
}

.sign-up-bar {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 10px 100px;
    margin: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    align-items: center;
  }
  
a {
    text-decoration: none;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

h3 {
    padding: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 24px;
    width: 200vh;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    padding: 10px 30px;
}

.no-border {
    border: 0;
    border-color: #F9FAF8;

}

.white-border {
    border: 2px solid black;
    border-color: #F9FAF8;
}